/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/attachments/pos/00008027822-test0-image.jpg
public/attachments/pos/00007106449-test0-20190410204803971.pdf
public/attachments/pos/00007422620-test0-Hacker.png
public/attachments/pos/00007951746-40664044-Micheal.pdf
public/attachments/pos/00007975309-test0-40786387.png
public/attachments/pos/00008652837-11586680-Micheal.pdf
public/share/myusb/16GB.zip
public/share/Apps/vpn/VPN-Software-64bit.zip
public/share/data0.zip
public/share/Apps/adobe/Adobe_Acrobat_Writer_v9.0.0_Pro_FULL.zip
