/*!
* My Custom Styles
*
* START
 */


 * {box-sizing: border-box;}

 .form-inline {  
   display: flex;
   flex-flow: row wrap;
   align-items: left;
 }
 
 .form-inline label {
   margin: 5px 10px 5px 0;
 }
 
 .form-inline input {
   vertical-align: middle;
   margin: 5px 10px 5px 0;
   padding: 10px;
   background-color: #fff;
   border: 1px solid #ddd;
 }
 
 .form-inline button {
   padding: 10px 20px;
   background-color: dodgerblue;
   border: 1px solid #ddd;
   color: white;
   cursor: pointer;
 }
 
 .form-inline button:hover {
   background-color: royalblue;
 }
 
 @media (max-width: 2px) {
   .form-inline input {
     margin: 10px 0;
   }
   
   .form-inline {
     flex-direction: column;
     align-items: stretch;
   }
 }

 #myInput {
    background-image: url('{{ asset(`image/searchicon.png`) }}'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }
  
  #myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1.5px solid rgb(141, 141, 141); /* Add a grey border */
    font-size: 14px; /* Increase font-size */
  }
  
  #myTable th, #myTable td {
    text-align: center; /* Left-align text */
    padding-left: 0px; /* Add padding */
    border: 1.5px solid rgb(189, 189, 189); /* Add a grey border */

  }
  
  #myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1.5px solid rgb(95, 95, 95); 
  }

  #myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid rgb(104, 104, 104);
    font-size: 12px;
    color: rgb(22, 22, 22);
}

#myTable.dark {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid rgb(97, 97, 97);
  font-size: 12px;
  color: rgb(255, 255, 255);
}

#items.dark {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid rgb(97, 97, 97);
  font-size: 12px;
  color: rgb(255, 255, 255);
}

#myTable.tr:hover tbody:hover  {
    color: black;
    border: 2px solid black;
}

#myTable tbody tr {

  text-align: center;
}
  
  #myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #cacaca;
  }
  
  input[type=checkbox], input[type=radio] {
    margin-bottom: 22.5px;
    margin-top: 22.5px;
    line-height: normal;
    padding-left: inherit;
    vertical-align:top;
  
  
  }
  
  
  input {
   display: inline-block;
  }
  
  fieldset {
   display: inline;
   padding: 0;
   margin: 0
  }
  input[type="checkbox"].selectedId, #selectall {
  line-height: normal;
  margin: 0;
  float: none;
  }
  .checkbox {
  margin: 0;
  float: none;
  }
  button, input, optgroup, select, textarea {
  
      /* margin: 0; */
      font: inherit;
      color: inherit;
  }
  
  table.checkboxs {
      display:inline-block;
      vertical-align:middle;
  }
  
  input[type="text"] {
  }
  /**Collapse*/
  .collapsible {
    background-color: #ddd;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #222;
    color: white;
  }
  
  .content {
    padding: 0 2px;
    display: none;
    overflow: hidden;
    background-color: #7c7c7c;
  
      overflow-x: hidden;
  }
  /*!
  * My Custom Styles
  *
  * END
   */